
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Registration Page - Find Yur Doctor</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/Home/index/">Знайди Свого Лікаря</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home/index/">Додомку</a></li>
                    
                    <li><a class="nav-link scrollto" href="#footer">Контакти</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/Home/Index/">Додомку</a></li>
                    <li>Зареєструватися</li>
                </ol>
                <h2>Сторінка Реєстрації</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page pt-4">
            <div class="container">
                <p>
                    Будь ласка зарегиструйтесь у акаунт або увійдіть
                </p>
            </div>
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-info">
                                    <h3>Знайди Свого Лікаря</h3>
                                    <p>
                                        Щоб відповісти на декілька питань будь ласка увійдіть у свій акаунт, якшо він існує або зарегиструйтесь
                                    </p>
                                </div>

                                <div class="footer-newsletter">
                                    <h4>Лікарі по всій Україні</h4>
                                    <p>Тут ви можете вибрати лікаря за фахом відповів лише на пару питань. Це все займе лише декілька хвилин.</p>
                                    <form action="" method="post">
                                        <input type="email" name="email"><input type="submit" value="Шукати...">
                                    </form>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>Корисні Посилання</h4>
                                    <ul>
                                        <li><a href="/Home/Index/">Додомку</a></li>
                                        <li><a href="#">Політика конфіденційності</a></li>
                                    </ul>
                                </div>

                                <div class="footer-links">
                                    <h4>Контакти</h4>
                                    <p>
                                        Украіна <br>
                                        Запоріжжя, UA<br>
                                        <strong>Phone:</strong> +38 066 378 ** **<br>
                                        <strong>Email:</strong> smarty.maks**.gmail.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <a href="https://www.facebook.com/max.maximov.33633" class="facebook"><i class="bi bi-facebook"></i></a>
                                    <a href="https://www.instagram.com/maksym_meshkov/" class="instagram"><i class="bi bi-instagram"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="form">
                            <h4>Якщо Ви зарестровані, то просимо скористуватися Логіном і Паролем</h4>

                            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                <div><a class="btn-get-started scrollto" href="/RegLog/Login/">Увійти</a></div>
                                <div>
                                    <p></p>
                                </div>
                                <div>
                                    <p></p>
                                </div>
                                <div>
                                    <p></p>
                                </div>
                                <h4>Будь ласочка, зареєструйтеся</h4>
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Введіть Ваш Логін" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Введіть Ваш Пароль" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Введіть ще раз Ваш Пароль" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Введіть Ваш Email" required>
                                </div>

                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>

                                <div class="text-center"><button type="submit" title="Залогінітися">Зареєструватися</button></div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Find Your Doctor</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="smarty.maks13@gmail.com">Maksym Meshkov</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>