
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Знайди Свого Лікаря</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <h2 class="logo me-auto"><a href="/Home/Index/">Знайди Свого Лікаря</a></h2>
            <!-- Favicons -->
            <link href="~/img/favicon.png" rel="icon">
            <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home/Index/">Додомку</a></li>
                    <li><a class="nav-link scrollto" href="#about">Як це працює?</a></li>
                    <li><a class="nav-link scrollto" href="#team">Наша команда</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Лікарні Украіни</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="https://doc.ua/promotions/kiev/all">DOC.UA</a></li>
                            <li><a href="https://medlife.pro/about-us">medlife.pro</a></li>
                            <li><a href="https://h24.ua">Health24</a></li>
                            <li><a href="https://www.103.ua">103.ua</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Білше Лікарнь...</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="https://medikit.ua/">Medikit</a></li>
                                    <li><a href="http://my-doc.com.ua">Мой Доктор</a></li>
                                    <li><a href="https://sovet.kidstaff.com.ua">KIDSTAFF советчица</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#footer">Контакти</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <div class="social-links">
                <a href="https://www.facebook.com/max.maximov.33633" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/maksym_meshkov/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </header><!-- End Header -->
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/Home/index/">Додомку</a></li>
                <li>Ваша Анкета</li>
            </ol>
            <h2>Вам треба відповісти на декілька питань</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= User Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <h1><br>Тута будуть питання<br /></h1>
                            <br>питання<br />
                            <br>питання<br />
                            <br>питання<br />
                            <br>питання<br />
                            <br>питання<br />
                            <br>питання<br />

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Інформація користувача</h3>
                        <ul>
                            <li><strong>Ім'я</strong>: </li>
                            <li><strong>Призвище</strong>: </li>
                            <li><strong>Побатькові</strong>: </li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End User Details Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="section-bg">
        

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Find Your Doctor</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="mailto: smarty.maks13@gmail.com">Maksym Meshkov</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>